{% extends "master/admin-login.html" %}
{% load i18n %}
{% block header %}
<script type="text/javascript" src="/media/js/custom.login.js"></script>
{% endblock %}
{% block content %}

<div id="login" class="ui-corner-all login-middle">
    <div class="login-entrar" >
		<b>Esqueceu sua Senha?</b>
	</div>
	<div class="message info"  style="width: 520px;">
      <p>Digite seu endereço de e-mail, e nós vamos enviar as instruções por e-mail, para definir uma nova senha.</p>
    </div>
    
<form action="" method="post">{% csrf_token %}
{% if form.email.errors  %}
<div class="message msgerror" style="width:320px;">
    <p>{{ form.email.errors }}</p>
</div>
{% endif %}
<div class="login-form">
		<div class="login-f-left">
			<div class="login-label-txt">
				E-MAIL
			</div>
			<div class="login-text-wrap">
				<input class="login-textbox" id="id_email" required="required" tabindex="1" name="email" type="text" />
			</div>
		</div>
		<div class="login-f-right">
			<input tabindex="2" src="/media/img/login-resetar-senha.png" type="image" />
		</div>
</div>
		
		
<div class="clear"></div>
<div class="login-traco"></div>
<div class="login-logo">
	<a href="http://lethus.com.br/">
		<img alt="logo lethus" src="/media/img/logo-lethus.png" />
	</a>
</div>

</form>
</div>

{% endblock %}
