{% extends "master/admin-login.html" %}
{% load i18n %}
{% block content %}
<div id="login" class="ui-corner-all login-middle">
  <div class="login-entrar" >
		<b>Alterar Senha</b>
		em Lethus
	</div>

  <form method="post" action="">
    {% csrf_token %}

    <table valign="top">
      {% for field in form %}
      <tr>
	<td valign="top" align="right">{{ field.label_tag }}:</td>
	{% if field.errors %}
	<td class="item-error" valign="top" align"left">{{ field }} {{ field.errors }}</td>
	{% else %}
	<td valign="top" align="left">{{ field }}</td>
	{% endif %}
      </tr>
      {% endfor %}
    </table>
    <input type="submit" value="{% trans "Change password" %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{% endblock %}
