{% extends "master/admin-login.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}
<div id="login" class="ui-corner-all login-middle">
  <div class="login-entrar" >
    <b>Entre com uma</b>
    Nova Senha para Lethus
  </div>

  <p>Entre com uma nova senha para seu usuário</p>

  <form action="" method="post">{% csrf_token %}
    {{ form.new_password1.errors }}
    <p class="aligned wide"><label for="id_new_password1">Nova Senha:</label>{{ form.new_password1 }}</p>
    {{ form.new_password2.errors }}
    <p class="aligned wide"><label for="id_new_password2">Confirme a Nova Senha:</label>{{ form.new_password2 }}</p>
    <p><input type="submit" value="Alterar minha senha" /></p>
  </form>
</div>
{% else %}
<div id="login" class="ui-corner-all login-middle">
  <div class="login-entrar" >
    <b>Falha na recuperação da senha</b>
    <p>Link invalido</p>
  </div>
</div>
{% endif %}

{% endblock %}
